

@import "./css/calc.css";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100%;
    line-height: 1.5;
    background-color: #F0F0F0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--step-0);
}

code {
    font-family: 'Source Code Pro',
        monospace;
    font-size: 0.95rem;
    font-weight: 500;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr minmax(30ch, 65ch) 1fr;
}

.content {
    grid-column: 2;
    margin: 2rem;
}

h1 {
    font-size: var(--step-5);
    line-height: 1.15;
    margin-block: 1.5rem;
}

.intro-text {
    font-size: var(--step-1);
    line-height: 1.35;
}

h2 {
    font-size: var(--step-2);
}

section {
    margin-top: 1.5rem;
}

li {
    list-style-type: none;
}

.units-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto 1fr;
    gap: var(--space-m);
    gap: 2rem;
}

.units-grid > * {
    background-color: bisque;
}

.unit1 {
    width: var(--space-s);
    aspect-ratio: 1 / 1;
}

.unit2 {
    width: var(--space-m);
    aspect-ratio: 1 / 1;
}

.unit3 {
    width: var(--space-l);
    aspect-ratio: 1 / 1;
}

.unit4 {
    width: var(--space-xl);
    aspect-ratio: 1 / 1;
}